# MLflow tracking server
MLFLOW_TRACKING_URI=http://185.50.38.163:33014

# Fill these in locally in .env
MLFLOW_TRACKING_USERNAME=your_mlflow_username
MLFLOW_TRACKING_PASSWORD=your_mlflow_password

# Student / experiment metadata
STUDENT_USERNAME=student_user_name
MLFLOW_EXPERIMENT_NAME=qbc12_hw02_student_user_name

# Selected clean HW02 model run
MLFLOW_RUN_ID=2f4885cc6b2b42baa62c279937ea4401

# Prediction behavior
PREDICTION_THRESHOLD=0.5

# Load model from MLflow, not local file
LOCAL_MODEL_PATH=

# For assignment/demo, true is fine.
# If Swagger becomes slow to open, set this to false.
LOAD_MODEL_ON_STARTUP=true

MLFLOW_HTTP_REQUEST_TIMEOUT=20
