# MLflow configuration
MLFLOW_TRACKING_URI=http://185.50.38.163:33014
MLFLOW_TRACKING_USERNAME=your_mlflow_username
MLFLOW_TRACKING_PASSWORD=your_mlflow_password

# Selected model from HW02
MLFLOW_EXPERIMENT_NAME=qbc12_hw02_student_alireza_abouei
MLFLOW_RUN_ID=2f4885cc6b2b42baa62c279937ea4401
MODEL_URI=runs:/2f4885cc6b2b42baa62c279937ea4401/model

# Local fallback model path inside the Docker container.
# docker-compose.yml mounts ./mlflow_artifacts to /app/mlflow_artifacts
LOCAL_MODEL_PATH=mlflow_artifacts/v5_random_forest/model.joblib
